#root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.shop-fullscreen {
    height: 100vh;
    width: 100vw;
    background-color: white; 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: black;
}

.shop-container {
    height: 75%;
    width: 90%;
    background-color: white;
    margin-top: 65px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 0.4px solid lightgray;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    justify-content: center;
    overflow: auto;
}

.shop-header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin-bottom: -15px;
    
}

.shop-products {
    display: flex;
    width: 100%;
    height: 90%;
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}
  
  